# Core scientific stack
pandas==1.5.3
numpy==1.23.5
matplotlib==3.5.3
seaborn==0.12.2
scipy==1.9.3
statsmodels==0.13.5
scikit-learn==1.2.2

# Time series / statistical tools
ruptures==1.1.7
hmmlearn==0.2.8